* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

i {
    font-size: 1.7rem;
}

.primary-btn {
    background-color: #dbb538;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.secondary-btn {
    background-color: #0ea5e9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.primary-btn:hover {
    background-color: #b38e18;
    transition: 0.2s ease-in-out;
}

.secondary-btn:hover {
    background-color: #0284c7;
    transition: 0.2s ease-in-out;
}

li {
    list-style: none;
}

/* ....................  Navbar styling  ......................... */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
    border-bottom: 1px solid rgb(199, 194, 194);
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.navbar-logo span i {
    color: #0f766e;
}

.logo-text {
    font-size: 1.5rem;
    color: #374151;
    text-decoration: none;
}

/* Desktop navigation links */
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #374151;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #31a793;
    transition: 0.2s ease;
}

/* Mobile menu toggle */
.mobile-menu-toggle {
    display: none; 
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: #1f2937;
    color: white;
    padding: 50px 20px;
    z-index: 1000;
    opacity: 90%;
}

.mobile-heading {
    text-align: center;
    margin-top: 3rem;
}

.mobile-nav-links {
    margin-top: 3rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: center;
    gap: 2rem;
}

.mobile-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-btn {
    width: 80%;
    padding: 15px;
    margin-left: 1rem;
    font-size: 1.2rem;
    background-color: #dbb538;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #b38e18;
    transition: 0.2s ease-in-out;
}

.icon-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #14b8a6;
}






/************ HERO SECTION *****************/

.hero-container {
    padding: 90px 100px 60px 100px;
    min-height: 75vh;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.hero-left {
    width: 65%;
}

.hero-left > h1 {
    margin: 5rem 0 1.5rem 0;
    color: #31a793;
    font-size: 3rem;
    letter-spacing: 1.1px;
}

.hero-left > h1 > span {
    color: #eab308;
}

.hero-left > p {
    font-size: 1.2rem;
    letter-spacing: 0.8px;
    color: #5A5A5A;
}

.hero-right {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.hero-right > img {
    width: 100%;
    border-radius: 10px;
}

.hero-btns {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
}

.hero-social-icons {
    margin-top: 3.5rem;
    display: flex;
    gap: 1.5rem;
    animation: bounce 2.5s infinite;
}

.hero-social-icons > span > i {
    color: #14b8a6;
    cursor: pointer;
}







/******** WHY WE EXIST **********/

.why-we-exist {
    margin-top: 1rem;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.why-left {
    margin-top: 2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.why-left > p {
    letter-spacing: 1.2px;
    color: #666666;
    line-height: 1.5;
}

.why-left > h1 {
    color: #333333;
    font-size: 2rem;
    border-bottom: 3px solid #eab308;
    width: 22%;
    margin-bottom: 2rem;
    padding: 10px 0;
}

.why-right {
    width: 40%;
}

.why-right > img {
    width: 100%;
    border-radius: 10px;
}








/********** Features Section ***********/

.features-section {
    margin-top: 1rem;
    padding: 50px 100px;
    text-align: center;
}

.features-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333333;
}

.features-heading > span {
    color: #eab308;
}

.features-subheading {
    font-size: 1.2rem;
    color: #666666;
}

.features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    justify-items: center;
}

.feature-item {
    background-color: #f1f5f9;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.feature-item:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.feature-icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #dbb538;
}

.feature-item > h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #5ec3ad;
}

.feature-item > p {
    font-size: 1rem;
    color: #555;
}







/********* POWER TO BELIEVE **************/

.power-to-believe {
    position: relative;
    padding: 50px 100px;
    min-height: 60vh;
    width: 100%;
    text-align: center;
    color: white; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blurred-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/flowers.jpg') center/cover no-repeat;
    z-index: 0;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(252, 252, 252), rgba(0, 58, 51, 0.8));
    z-index: 1; 
}

.content {
    margin-top: -5rem;
    position: relative;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.content > .heading {
    font-size: 3rem;
    color: #333333;
}

.content > p {
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
    color: #252323;
    text-align: left;
}








/************ FOOTER SECTION *****************/

.footer {
    background-color: #1f2937;
    color: white;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-logo h3 {
    font-size: 1.8rem;
}

.footer-logo h3 span i {
    color: #eab308;
}

.footer-logo p {
    color: #c2c6cc;
    font-size: 1rem;
    margin-top: 1rem;
}

.footer-links h4, .footer-social h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #9ca3af;
}

.footer-links ul li a:hover {
    color: #dbb538;
    transition: color 0.3s ease;
}

.footer-social {
    text-align: left;
}

.social-icons a {
    color: white;
    font-size: 1.8rem;
    margin-right: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #dbb538;
    transition: color 0.3s ease;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #374151;
    padding-top: 20px;
}

.footer-bottom p {
    color: #9ca3af;
}









/**************** ABOUT PAGE ***************/

.about-container {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
}

.about-section {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    margin-bottom: 4rem;
}

.about-section > img {
    width: 40%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.about-section > div {
    width: 60%;
}

.about-section > div > h1 {
    color: #333333;
    font-size: 2rem;
    border-bottom: 3px solid #eab308;
    width: 25%;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

.about-section > div > p{
    color: #666666;
    letter-spacing: 1.2px;
    line-height: 1.5;
}


.mission-section {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    margin-bottom: 4rem;
}

.mission-section > div {
    width: 60%;
}

.mission-section > img {
    width: 40%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.mission-section > div > h1 {
    color: #333333;
    font-size: 2rem;
    border-bottom: 3px solid #eab308;
    width: 25%;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

.mission-section > div > p{
    color: #666666;
    letter-spacing: 1.2px;
    line-height: 1.5;
}

.features-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.features-header {
    color: #31a793;
    font-size: 2rem;
}

.features-header > span > i {
    color: #eab308;
    margin-right: 10px;
    font-size: 2rem;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    background-color: #f1f5f9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 75%;
    color: #666666;
    letter-spacing: 1.2px;
    line-height: 1.5;
}






/**************** FEATURES PAGE ***************/

.features-container {
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 2rem 0;
}

.features-intro {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.features-intro h1 {
    font-size: 2.5rem;
    color: #14b8a6;
    margin-bottom: 1rem;
}

.features-intro h1 span {
    color: #eab308;
}

.features-intro p {
    font-size: 1.2rem;
    color: #666666;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.feature-card {
    background-color: #f1f5f9;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature-card > .feature-icon > i {
    font-size: 2.5rem;
    color: #31a793;
    margin-bottom: 1rem;
}

.feature-content h2 {
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 1rem;
}

.feature-content p {
    font-size: 1rem;
    color: #666666;
    line-height: 1.5;
    letter-spacing: 1.2px;
}






/************ CONNECT PAGE ************/

.connect-section {
    padding: 60px 20px;
    background-color: #f4f4f4;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)), url('./images/img5.webp');
    /* background-image: url('./images/img5.webp'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.connect-header h1 {
    font-size: 2.5rem;
    color: #f5f5f5;
    margin-bottom: 1rem;
    font-weight: 400;
}

.connect-header h1 span i {
    color: #eab308;
    font-size: 2.3rem;
}

.connect-header p {
    color: #dad6d6;
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
    line-height: 1.5;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-form label {
    font-size: 1rem;
    font-weight: bold;
    color: #333333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #0f766e;
}




/* PROFESSIONAL SUPPORT */

.professional-support {
    padding: 60px 100px;
    text-align: center;
    background-color: #f9fafb;
}

.support-header h1 {
    font-size: 2.5rem;
    color: #14b8a6;
    margin: 1.5rem 0;
    font-weight: 500;
}

.support-header h1 span i {
    font-size: 2.3rem;
    color: #eab308;
}

.support-header p {
    color: #666666;
    width: 50%;
    text-align: center;
    margin: 0 auto 60px auto;
    font-size: 1.2rem;
    line-height: 1.5;
}

.professionals-container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
}

.professional-card {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 360px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

.professional-icon {
    margin-bottom: 10px;
}

.professional-icon > span > i {
    font-size: 2rem;
    color: #eab308;
    margin-bottom: 50px;
}

.professional-card h2 {
    font-size: 1.3rem;
    margin-bottom: 12px;
    font-weight: 600;
}

.professional-card p {
    color: #666666;
    margin-bottom: 10px;
}

.professional-card button {
    margin-top: 1rem;
}

/* Popup Container */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

/* Popup Content */
.popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content p {
    font-size: 1.2rem;
    color: #666666;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 4rem;
    color: #f5f5f5;
    cursor: pointer;
}







/************** CHATBOT ************/

/* Chatbot Icon */
.chatbot-icon {
    position: fixed;
    bottom: 30px;
    right: 100px;
    cursor: pointer;
    z-index: 1000;
}

.chatbot-icon span i {
    font-size: 3rem;
    color: #38bdf8;
}

/* Chat Popup Window */
.chat-popup {
    display: none; 
    position: fixed;
    bottom: 90px;
    right: 100px;
    width: 380px;
    min-height: 420px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1001;
}

/* Chat Header */
.chat-header {
    background-color: #d7dddf;
    color: #5c5b5b;
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header p {
    font-size: 1.2rem;
}

.close-chat {
    cursor: pointer;
    font-size: 2rem;
}

/* Chatbox */
.chatbox {
    padding: 10px;
    height: 250px;
    overflow-y: auto;
}

.bot-message, .user-message {
    margin: 10px 0;
    padding: 8px;
    border-radius: 8px;
}

.bot-message {
    background-color: #facc15;
    text-align: left;
    width: 80%;
    color: #ffffff;
}

.user-message {
    width: 80%;
    background-color: #2dd4bf;
    color: white;
    text-align: left;
    margin-left: auto;
}

/* Chat Input Section */
.chat-input-section {
    display: flex;
    padding: 20px 10px;
    border-top: 1px solid #ccc;
}

.chat-input-section input {
    outline: none;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 0.9rem;
}

.send-btn {
    background-color: #14b8a6;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}







/************** Resource Hub ***********/
.resource-hub {
    padding: 60px 20px;
    text-align: center;
    background-color: #f4f4f9;
}

.hub-header h1 {
    font-size: 2.5rem;
    color: #14b8a6;
    margin-bottom: 0.8rem;
}

.hub-header p {
    color: #333333;
    font-size: 1.1rem;
}

.hub-header h1 span {
    color: #eab308;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.blog-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 420px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.blog-card:hover {
    transform: scale(1.05);
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 20px;
}

.blog-content h3 {
    font-size: 1.4rem;
    color: #333333;
    font-weight: 400;
    margin-bottom: 1rem;
}

.blog-card-text {
    color: #666666;
}

.blog-info {
    font-size: 0.9rem;
    color: #666666;
    margin-bottom: 12px;
}

.read-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0ea5e9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.read-more-btn:hover {
    background-color: #0284c7;
}





/********** MEDIA QUERIES **********/


@media screen and (max-width: 900px) {

    .login-button {
        display: none;
    }
    
    .features-grid {
        grid-template-columns: 1fr;
    }

    .features-container {
        padding: 20px;
    }

    .features-intro h1 {
        font-size: 2rem;
    }

    .features-intro p {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .feature-content h2 {
        font-size: 1.5rem;
    }

}



@media (max-width: 1280px){
    /* HERO SECTION */
    .hero-container {
        padding: 40px 100px 40px 100px;
        flex-direction: column;
    }

    .hero-left {
        width: 100%;
    }

    .hero-right {
        width: 100%;
        height: 60vh;
        justify-content: center;
    }

    .hero-right > img {
        height: 100%;
        object-fit: cover;
    }

    /* Why We Exist */
    .why-we-exist {
        margin-top: 1rem;
        padding: 50px 100px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .why-left {
        margin-top: 2rem;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }

    .why-left > h1 {
        width: 25%;
    }
    
    .why-right {
        width: 100%;
        height: 60vh;
    }
    
    .why-right > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Footer */
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo, .footer-links, .footer-social {
        margin-bottom: 30px;
        text-align: center;
    }

     /* Professional Support */
     .support-header p {
        width: 100%;
    }
}



/********* About Page ************/
@media (max-width: 1024px) {
    .about-container {
        padding: 40px 100px;
    }
    
    .about-section {
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
    
    .about-section > img {
        width: 100%;
    }
    
    .about-section > div {
        width: 100%;
    }
    
    .about-section > div > h1 {
        width: 25%;
    }
    
    .about-section > div > p{
        color: #666666;
        letter-spacing: 1.2px;
        line-height: 1.5;
    }
    
    
    .mission-section {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 4rem;
    }
    
    .mission-section > div {
        width: 100%;
    }
    
    .mission-section > img {
        width: 100%;
    }
    
    .mission-section > div > h1 {
        width: 28%;
    }
    
    .mission-section > div > p{
        color: #666666;
        letter-spacing: 1.2px;
        line-height: 1.5;
    }
    
    .features-section{
        width: 100%;
    }
    
    .features-list {
        width: 100%;
    }

}


@media (max-width: 768px) {
    /* NAVBAR */
    .navbar {
        padding: 8px 20px;
    }

    .nav-links {
        display: none;
    }

    .mobile-menu-toggle {
        display: block; 
    }

    .mobile-menu.active {
        display: flex;
        flex-direction: column;
    }

    /* HERO SECTION */
    .hero-container {
        padding: 32px 20px;
        flex-direction: column;
        gap: 2rem;
    }

    .hero-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-right {
        width: 100%;
    }

    .hero-right > img {
        width: 100%;
        border-radius: 10px;
    }

    .hero-left > h1 {
        margin: 2rem 0 1.5rem 0;
        color: #31a793;
        font-size: 2.5rem;
        letter-spacing: 1.1px;
    }

    /* Why we exist */

    .why-we-exist {
        margin-top: 0;
        padding: 32px 25px;
        flex-direction: column;
    }

    .why-left {
        margin-top: 0;
        width: 100%;
    }

    .why-left > div {
        text-align: center;
    }

    .why-left > p {
        letter-spacing: 1.2px;
        color: #666666;
        line-height: 1.5;
    }

    .why-left > h1 {
        width: 40%;
    }

    .why-right {
        width: 100%;
    }

    /* FEATURES SECTION */

    .features-section {
        padding: 32px 25px;
        text-align: center;
    }

    /* Power to believe */
    .power-to-believe {
        padding: 32px 25px;
        min-height: 65vh;
    }
    
    .content {
        margin-top: 0rem;
        gap: 1.5rem;
    }
    
    .content > .heading {
        font-size: 2rem;
    }
    
    .content > p {
        font-size: 1rem;
    }

    /* About Page */
    .about-container {
        padding: 40px 20px;
    }

    .mission-section > div > h1 {
        width: 55%;
    }

    .about-section > div > h1 {
        width: 50%;
    }

    /* Features page */
    .features-page {
        padding: 30px;
    }

    .features-intro h1 {
        font-size: 2rem;
    }

    .features-intro p {
        font-size: 1rem;
    }

    .feature-card h2 {
        font-size: 1.5rem;
    }

    .feature-card p {
        font-size: 0.9rem;
    }

    .contact-form {
        padding: 20px;
    }

    /* Contact Page */
    .connect-header h1 {
        font-size: 2rem;
    }

    .connect-header p {
        font-size: 1rem;
    }

    /* Professional Support */
    .professionals-container {
        flex-direction: column;
        align-items: center;
    }

    .support-header p {
        width: 100%;
    }

    .professional-support {
        padding: 60px 20px;
        text-align: center;
        background-color: #f9fafb;
    }
    
    .support-header h1 {
        width: 100%;
    }
    
    .support-header p {
        width: 100%;
    }

    /* Resource Hub */

    .blog-container {
        flex-direction: column;
        align-items: center;
    }

    .blog-card {
        width: 100%;
    }
    
}


@media (max-width: 600px){
    .why-left > h1 {
        width: 70%;
    }

    /* chatbot */
    .chatbot-icon {
        right: 20px;
    }

    .chat-popup {
        bottom: 90px;
        right: 20px;
        width: 330px;
        min-height: 420px;
    }
}

/* Bounce Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-16px);
    }
}


